body {
  background-color: #242538;
  font-family: Helvetica;
  color: #f0f0f5;
}

.main {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  border: 5px solid #242538;
  border-radius: 20px;

  overflow: hidden;
}

.main h1 {
  background-color: #1b1c2e;
  display: block;
  font-size: 2em;
  padding-block-start: 0.67em;
  padding-block-end: 0.67em;
  padding-left: 20px;
  margin: 0;
  font-weight: bold;
}

.content {
  background-color: #b6b6cc;
  width: min(90vw, 80vh);
  height: min(90vw, 80vh);
}

/* place your styles below */

.rootBlock {
  background-color: #b6b6cc;
  width: 1000px;
  box-sizing: border-box;
  padding: 15px;
}

.main > h1 {
  font-size: 52px;
}

.image {
  border-radius: 2%;
  width: 100%;
  height: 100%;
}
.imageBlock {
  width: 100%;
  height: 100%;
}
.textBlock {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.textBlock > header {
  font-size: 32px;
  padding: 10px;
}
.text {
  font-size: 26px;
  padding: 10px;
}

.buttonBlock {
  width: 100%;
  height: 100%;
  background-color: #242538;
  border-radius: 10px;
  border: 3px solid;
  border-color: white gray gray white;
}
.buttonBlock > button {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  color: white;
  border-radius: 10px;
  font-size: 24px;
}

.vertical {
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
  column-gap: 20px;
}

.horizontal {
  display: grid;
  grid-auto-rows: minmax(0, 1fr);
  grid-auto-flow: row;
  row-gap: 20px;
}
